/**
 * CSS for FrontEnd Editing Advanced (feeditadvanced)
 */

body {
	margin-top: 68px;
}

#bodyattach {
	behavior: url(typo3/sysext/feeditadvanced/res/css/csshover.htc);
}

img {
	border: 0;
	border-style: none;
}

#typo3-previewInfo {
	margin-top: 97px !important;
}

/* ---------------------- MENUBAR ---------------------------- */
#feEditAdvanced-menuBar {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	color: #fff;
	padding: 0;
	margin: 0;
	z-index: 800;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 90%;
}



#feEditAdvanced-menuBar .feEditAdvanced-smallButton {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	color: #eee;
	background: url(../icons/menubar/button_small.png) no-repeat 0 0;
	padding: 3px 0 0 0;
	margin: 4px 8px 0 0;
	height: 20px;
	width: 70px;
	font-size: 10px;
	float: right;
}

#feEditAdvanced-menuBar a.feEditAdvanced-smallButton:hover {
	color: white;
}
#feEditAdvanced-menuBar .feEditAdvanced-firstRow,
#feEditAdvanced-menuBar .feEditAdvanced-secondRow {
	overflow: hidden;
	height: 34px;
	width: 100%;
}

#feEditAdvanced-menuBar .feEditAdvanced-firstRow {
	background: url(../icons/menubar/menu_back.png) repeat-x 0 0;
}

#feEditAdvanced-menuBar .feEditAdvanced-secondRow {
	background: url(../icons/menubar/menu2_back.png) repeat-x 0 0;
	clear: both;
}

#feEditAdvanced-menuBar .feEditAdvanced-secondRow .feEditAdvanced-logo {
	padding: 6px 15px;
	float: right;
}

.feEditAdvanced-menuToolbar {
	padding: 1px;
	height: 32px;
}

#feEditAdvanced-actionToolbar {
	margin-right: 20px;
}

#feEditAdvanced-contentTypeToolbar {
	margin-right: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	top:0px;
	left:0px;
	z-index:551;
	overflow:show;
	height:32px;
}

#feEditAdvanced-contentTypeToolbar-wrapper {
	height:32px;
	position:relative;
}
#feEditAdvanced-contentTypeToolbar-arrLeft,
#feEditAdvanced-contentTypeToolbar-arrRight {
	cursor: pointer;
	width:20px;
	float:left;
	color:red;
	font-weight:bold;
	font-size:20px;
	position:absolute;
	top:0px;
	z-index:556;
	background: url(../icons/menubar/menu2_back.png) repeat-x 0 0;
	line-height:150%;
	text-align:center;
}
#feEditAdvanced-contentTypeToolbar-arrLeft {
	left:0px;
}
#feEditAdvanced-contentTypeToolbar-arrRight {
	right:0px;
}
#feEditAdvanced-contentTypeToolbar-scrollPanel {
	position:relative;
	top:0px;
	left:20px;
	z-index:550;
}
#feEditAdvanced-contextToolbar {
	display: block;
	position: fixed;
	right: 0;
	top: 0;
}

#clipboardToolbar {
	margin-right: 20px;
	width: 180px;
	height: 30px;
	padding: 0 2px;
	background: url(../icons/menubar/clipboard_back.png) no-repeat;
}

.feEditAdvanced-contentTypeItem,
#clipboardToolbar .clipObj {
	display: block; /*opera*/
	display: inline-block; /*ie*/
	margin: 0;
	text-decoration: none !important;
	color: #ddd;
	cursor: move;
	padding: 0 10px;
	height: 34px;
	border-right: 1px dotted #afafaf;
}

.feEditAdvanced-contentTypeItem img {
	vertical-align: middle;
	margin-top: -3px;
}

#clipboardToolbar .clipObj {
	background-color: #44a;
}

#clipboardToolbar .clipContainer {
	float: left;
	width: 45px;
	height: 32px;
	margin: 0 6px 0 4px;
}

#clipboardToolbar .clipObj {
	width: 100%;
	height: 24px;
	font-size: 8px;
	padding: 1px;
	text-align: left;
	overflow: hidden;
}

#clipboardToolbar .clearBtn {
	position: relative;
	width: 16px;
	height: 16px;
	left: 32px;
	top: -8px;
	overflow: visible;
	background-image: url(../icons/menubar/remove.png);
	z-index: 3 !important;
}

#clipboardToolbar .clearBtn:hover {
	background-color: #fcc;
}

.feEditAdvanced-menuToolbar .separatorBar {
	display: block; /*opera*/
	display: inline-block; /*ie*/
	height: 24px;
	border-left: 1px #888 solid;
	margin-right: 6px;
}

.feEditAdvanced-menuToolbar .spacer {
	display: block; /*opera*/
	display: inline-block; /*ie*/
	width: 20px;
}

#feEditAdvanced-menuBar .feEditAdvanced-buttonText {
	display: inline-block;
	font-size: 12px;
}

#feEditAdvanced-menuBar .feEditAdvanced-buttonLabel {
	color: black;
	margin-left: 3px;
	font-size: 11px;
}

#feEditAdvanced-menuBar .feEditAdvanced-button,
#feEditAdvanced-menuBar .feEditAdvanced-smallButton {
	display: inline-block;
	padding-top: 7px;
	margin: 2px 10px 0 0;
	height: 21px;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	color: #c6c6c6;
	background: url(../icons/menubar/button.png) no-repeat 0 0;
	font-size: 12px;
	width: 92px;

	-moz-border-radius: 5px;
}

#feEditAdvanced-menuBar a.disabled {
	color: #888;
	cursor: default;
}

#feEditAdvanced-menuBar a.disabled:hover {
	background-color: #ddd;
}

#feEditAdvanced-menuBar .feEditAdvanced-smallButton {
	color: #eee;
	background: url(../icons/menubar/button_small.png) no-repeat 0 0;
	padding: 3px 0 0 0;
	margin: 4px 8px 0 0;
	height: 20px;
	width: 70px;
	font-size: 10px;
}


#feEditAdvanced-menuBar a.feEditAdvanced-button:hover,
#feEditAdvanced-menuBar a.feEditAdvanced-smallButton:hover {
	color: white;
}

.feEditAdvanced-notificationMsg {
	position: fixed;
	top: 5px;
	left: 75%;
	padding: 5px;
	background: #aaa;
	color: #222;
	border: 1px solid #666;
	z-index: 99999;
}

.feEditAdvanced-noBorder {
	border: none !important;
}

/* ---------------------- DROP ZONE for Draggable ---------------------------- */
.feEditAdvanced-dropzone {
	width: 100%;
	height: 40px;
	margin: 10px 0;
	border: 1px dashed #888;
	background: #e0e0e0;
}

.feEditAdvanced-dropzoneText {
	margin: 10px;
	padding-left: 20px;
	background: transparent url(../icons/hovermenu/drop.png) no-repeat;
}

.feEditAdvanced-dropzoneActive {
	background: #FFFF30 !important;
}

dl.feEditAdvanced-menuUserlist {
	font-size: 80%;
	float:right;
	margin-top: 5px;
	margin-right:160px;
	width:auto;
	overflow:hidden;
}
dl.feEditAdvanced-menuUserlist dt {
	display:inline;
	float:left;
}
dl.feEditAdvanced-menuUserlist dd {
	display:inline;
	float:left;
	cursor:help;
	margin:0px;
	padding:0px;
	padding-left:3px;
}

/* ---------------------- HOVERMENU ---------------------------- */
div.feEditAdvanced-allWrapper,
div.feEditAdvanced-contentWrapper {
	position: relative;
	padding: 4px;
	margin: 20px 0 4px 0;
	overflow: visible;
	min-height: 0; /* Min height added for IE hasLayout issues. */
}

div.feEditAdvanced-allWrapper form {
	min-height: 0;
}

div.feEditAdvanced-allWrapper {
	border: 1px dashed #bbb;
	margin: 1px;
	padding: 0;
}

div.feEditAdvanced-allWrapperHover {
	background-color: #e0e0e0 !important;
	border: 1px solid #888;
	margin: 1px;
}

div.feEditAdvanced-clickContentToEdit {
	cursor: pointer;
}

div.feEditAdvanced-contentWrapper {
	margin: 0;
	padding: 0;
}

div.feEditAdvanced-contentWrapper .formsOnPage {
	background-color: white;
}

div.feEditAdvanced-allWrapper div.feEditAdvanced-editPanelDiv {
	position: absolute;
	top: -20px;
	left: 0;
	z-index: 500;
	margin: -1px;
	padding: 0;
	background-color: #ccc;
	color: #444;
	width: 100%;
	min-width: 400px;
	height: 21px;
	border: 1px solid #888;
	border-bottom: 1px solid #aaa;
	overflow: visible;
	background: url(../icons/hovermenu/background.png) repeat-x;
}

div.feEditAdvanced-editPanelDiv a img,
.formsOnPage a img,
.formsOnPage img {
	border-width: 0;
}

div.feEditAdvanced-contentWrapper div.feEditAdvanced-editPanelDiv {
	position: static !important;
}

div.feEditAdvanced-contentWrapper .formsOnPage {
	position: relative;
	z-index: 400;
}

.feEditAdvanced-hiddenElement,
.hidden .formsOnPage {
	background-color: #bbb !important;
}

.feEditAdvanced-label,
input.feEditAdvanced-editButton,
.feEditAdvanced-dragHandle {
	float: left !important;
	padding: 2px 3px 0 22px;
	margin: 2px 2px 0;
	border: none;
	border-right: 1px dotted #aaa;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #646;
}

.feEditAdvanced-label {
	font-weight: bold;
	padding-left: 0;
}

input.feEditAdvanced-editButton:hover,
.feEditAdvanced-dragHandle:hover {
	cursor: pointer;
}

input.feEditAdvanced-editButton.newRecordAction,
input.feEditAdvanced-editButton.newPageAction {
	background: url(../icons/hovermenu/new.png) no-repeat 3px 50%;
}

input.feEditAdvanced-editButton.editAction {
	background: url(../icons/hovermenu/edit.png) no-repeat 3px 50%;
}

input.feEditAdvanced-editButton.cutAction {
	background: url(../icons/hovermenu/cut.png) no-repeat 3px 50%;
}

input.feEditAdvanced-editButton.copyAction {
	background: url(../icons/hovermenu/copy.png) no-repeat 3px 50%;
}

input.feEditAdvanced-editButton.hideAction {
	background: url(../icons/hovermenu/hide.png) no-repeat 3px 50%;
}

input.feEditAdvanced-editButton.unhideAction {
	background: url(../icons/hovermenu/unhide.png) no-repeat 3px 50%;
}

input.feEditAdvanced-editButton.deleteAction {
	background: url(../icons/hovermenu/delete.png) no-repeat 3px 50%;
}

input.feEditAdvanced-editButton.dragAction,
.feEditAdvanced-dragHandle {
	background: url(../icons/hovermenu/drag.png) no-repeat 3px 50%;
}

input.feEditAdvanced-editButton.upAction {
	background: url(../icons/hovermenu/up.png) no-repeat 3px 50%;
}

input.feEditAdvanced-editButton.downAction {
	background: url(../icons/hovermenu/down.png) no-repeat 3px 50%;
 }


.feEditAdvanced-dragHandle {
	float: right !important;
	border: none;
	height: 16px;
	padding: 2px 3px 0 25px;
}

.doCut {
	background-color: #f8e0e0;
}

.doCopy {
	background-color: #d8f0d8;
}

div.feEditAdvanced-contentWrapper form.typo3-editPanel {
	float: right;
	border-width: 0 !important;
}

/* ---------------------- LIGHT BOX ---------------------------- */
#feEditAdvanced-editWindow {
	display: block;
	position: fixed;
	margin: 0;
	padding: 0 10px;
	top: 100px;
	min-width: 200px;
	min-height: 200px;
	color: #333;
	background-image: url(../icons/forms/back_opacity.png);
	text-align: left;
	z-index: 10000 !important;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#feEditAdvanced-loading {
	text-align: center;
	color: white;
	padding: 40px;
	background: url('../icons/spinner.gif') center center no-repeat;
	min-width: 200px;
	max-width: 300px;
}

#feEditAdvanced-loading h3 {
	color: white;
}

#feEditAdvanced-editWindowHeader {
	color: white;
	font-size: 14px;
	padding: 10px 0;
}

#feEditAdvanced-editWindowContent {
	background-color: #FFF;
	margin: 2px;
	padding-bottom: 10px;
	overflow: auto;
	min-width: 555px;
}

.feEditAdvanced-editControls {
	width: 100%;
	height: 50px;
}

#feEditAdvanced-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 3420px;
	z-index: 9000;
	background-color: #000;

	-moz-opacity: 0.5;
	opacity: .50;
	filter: alpha(opacity=50);
}

/*----------------- IE6 SPECIFIC STUFF ------------------*/
* html #feEditAdvanced-menuBar {
	position: absolute;
}
* html #feEditAdvanced-editWindow {
	position: absolute;
}
* html #feEditAdvanced-contextToolbar {
	position: absolute;
}
* html #feEditAdvanced-overlay {
	position: absolute;
}

#feEditAdvanced-menuBar div.feEditAdvanced-editPanelDiv {
	background: none;
	border: none;
	top: 0;
	min-width: 0;
}

#feEditAdvanced-menuBar div.feEditAdvanced-allWrapper {
	border: none;
	margin-left: 12px;
}
