<h1>Template, to show the button "open editing" when editing is enabled but
not activce</h1>
<!-- ###MENU_CLOSED### begin -->
<div id="feEditAdvanced-menuBar" class="closedMenu">
	<a class="feEditAdvanced-smallButton" href="#" onclick="###ON_CLICK###" title="###OPEN_EDIT_MODE###">###OPEN_EDIT_MODE###</a>
</div>
<!-- ###MENU_CLOSED### end -->
<h1>Template, holding the menubar</h1>
<!-- ###MENU_OPENED### begin -->
<div id="feEditAdvanced-menuBar">
	<div class="feEditAdvanced-firstRow">
		<div class="feEditAdvanced-menuToolbar">###EDIT_PANEL###</div>
		
		<!-- ###SECTIONS_FIRST_ROW### begin -->
			<!-- ###SECTION### begin -->
				<div id="###SECTION_CSSID###" class="feEditAdvanced-menuToolbar" ###SECTION_EXTRACSS###>###SECTION_ITEMS###</div>
			<!-- ###SECTION### end -->
			<!-- ###SINGLE_ITEM### begin -->###ITEM_SEPARATOR######ITEM_NAME###<!-- ###SINGLE_ITEM### end -->
			<!-- ###SEPARATOR### begin --><span class="separatorBar"> </span><!-- ###SEPARATOR### end -->
			
		<!-- ###SECTIONS_FIRST_ROW### end -->
	</div>
	<div class="feEditAdvanced-secondRow">
	<!-- ###SECTIONS_SECOND_ROW### begin -->
		Templates from first Row are used!
	<!-- ###SECTIONS_SECOND_ROW### end-->
		<span class="feEditAdvanced-logo"><a href="http://www.typo3.com/"><img src="###EXT_PATH###/res/icons/typo3logo_mini_transparent.gif" /></a></span>
	</div>
	<!-- ###USERLISTING### begin -->
		<span class="feEditAdvanced-menuUserlist">###USER_LABEL###<span id="menu_userlisting">###USER_LIST###</span></span>
	<!-- ###USERLISTING### end -->
</div>
<!-- ###MENU_OPENED### end -->